# Bot Stuff
DISCORD_TOKEN=
CLIENT_ID=
DEV_SERVER_ID=777538418602147880
OWNER_ID=
LOG_WEBHOOK_URL=
GUILD_LOG_WEBHOOK=https://discord.com/api/webhooks/1468978801902882816/DUrsY8KqhjSflNDcj2ncYndQH-bwAuuYaS2PkY1KxJ5ecKVC0xrhZ0u77fuLJvay1N-p

# Webhooks
VOTE_WEBHOOK_CHANNEL=
VOTE_WEBHOOK=
TOP_GG_API_KEY=
# Database Stuff
MONGODB_URI=
